html {
    background-image: url(img.jpg);
    background-size: cover;
    padding: 70px;
    text-align: center;
}

.header {
    background-position: center;
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    width: 450px;
    height: 200px;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid ghostwhite;
  }